.DS_Store
/.build
/.derived
/.localhome
/Packages
xcuserdata/
DerivedData/
*.xcresult
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.p12
*.cer
*.mobileprovision
.env
.env.*
